<tab name="MEC-00">
{{AutoInfoboxVariant|MEC-00
}}
===Description===
{{MechDetails|MEC-00}}


===Bonuses===
{{QuirkYY}}


{{AffinityZZ}}


===Factions===
{{MechFactions|MEC-00}}


{{LoadoutImage|image=MEC-00.jpg}}
</tab>